.rightSide {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        img {
            max-height: 190px;
            max-width: 183px;
        }
        h2 {
            font-size: 3.6rem;
            font-family: "Nunito", sans-serif;
            font-weight: 800;
        }
    }
}

.leftImd-Div {
    position: relative;
    h3 {
        font-size: 3rem;
        font-family: "Nunito", sans-serif;

    }
    .userInfo {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(-10%, -10%);
        font-size: 2rem;
        font-weight: bold;
        font-family: "Nunito", sans-serif;
        line-height: 50px;
    }
}

@media (max-width: 745px) {
    .onboarding {
        font-size: 3rem !important;
    }
    .userInfo {
        line-height: 40px !important;
    }
}

@media (max-width: 627px) {
    .rocket {
        max-height: 120px !important;
    }
}

@media (max-width: 430px) {
    .onboarding {
        font-size: 2.5rem !important;
    }
    .rocket {
        max-height: 120px !important;
    }
}